<div class="container_fluid m-4">
    <h4 class="border-bottom pt-2">Form</h4>
    <p><form-error [form]="form" ></form-error></p>
    <form class="was-validated ">
        <div class="form-group form-row">
            <label for="email" class="col-sm-1 col-form-label col-form-label-sm text-nowrap">Login Id
                <i class="fas fa-asterisk" style="color:red"></i></label>
            <div class="col-sm-2">
                <input type="email" class="form-control form-control-sm" id="loginid" placeholder="LoginId"
                    name="loginid" required [(ngModel)]="form.data.loginId">
            </div>
        </div>
        <div class="form-group form-row">
            <label for="email" class="col-sm-1 col-form-label col-form-label-sm text-nowrap">Password
                <i class="fas fa-asterisk" style="color:red"></i></label>
            <div class="col-sm-2">
                <input type="password" class="form-control form-control-sm" id="password" name="password" 
                placeholder="Password" required
                    [(ngModel)]="form.data.password">
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col-sm-3 d-flex justify-content-end">
                <button type="submit" (click)="signIn()" class="btn btn-outline-primary btn-sm"><i class="fa fa-save"></i> SignIn</button>
                &nbsp;
            </div>
        </div>
    </form>
</div>